@model List<(int Id, string Caption, string Description, string Image, string Video)>

@{ 
    var cars = (List<Tuple<int, string>>)ViewBag.Cars;
}

<h2>顯示ViewBag.Car資料</h2>
<ul>
    @foreach(var c in cars)
    {
        <li>@c.Item1, @c.Item2</li>
    }
</ul>

<h2>顯示Model資料</h2>
<ul>
    @foreach (var p in Model)
    {
        <li>@p.Id , @p.Caption, @p.Description</li>
    }
</ul>